absl==0.0
ase==3.27.0
m3gnet==0.2.4
matbench==0.6
matgl==2.0.6
matplotlib==3.1.2
ml_collections==1.1.0
monty==2026.2.18
numpy==1.17.4
pandas==3.0.1
Pillow==7.0.0
Pillow==12.1.1
protobuf==3.6.1
py3Dmol==2.5.4
pymatgen==2025.10.7
spglib==2.7.0
tensorflow==2.20.0
torch==2.10.0
tqdm==4.67.3
wandb==0.25.0
